@CHARSET "UTF-8";

body {
	background-color: red;
	color: white;
	font-family: sans-serif;
}

#countdowntimeparagraph {
	text-align: center;
	font-size: 500%;
}

#userComments {
	text-align: left;
	font-size: 125%;
}

.column {
	width: 50%;
	float: left;
}

.timerButton {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 100%;
}

.next {
	font-size: 150%;
}

.nextnext {
	/*bump*/
}