<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebTimer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
  	<param-name>default_interval</param-name>
  	<param-value>90</param-value>
  </context-param>
  <context-param>
  	<param-name>initial_countdown</param-name>
  	<param-value>3</param-value>
  </context-param>
  <context-param>
  	<param-name>plus_time</param-name>
  	<param-value>10</param-value>
  </context-param>
  <context-param>
  	<param-name>minus_time</param-name>
  	<param-value>10</param-value>
  </context-param>
    <context-param>
  	<param-name>lower_limit</param-name>
  	<param-value>30</param-value>
  </context-param>
    <context-param>
  	<param-name>higher_limit</param-name>
  	<param-value>120</param-value>
  </context-param>
      <context-param>
  	<param-name>max_lines_user_comments</param-name>
  	<param-value>5</param-value>
  </context-param>
</web-app>